---
import Birtdate from "./Birtdate.astro";
---

<section>
	<main>
		<h2>Quien soy yo?</h2>
	</main>
	<article>
        <h3>Hola, mi nombre es Juan David Cutiva Lopez, tengo actualmente <Birtdate/> </h3>
    </article>
</section>
