---
import Picture from './Picture.astro';
---

<section class="text-currentColor">
	<div class="flex items-center justify-center pb-[28px] pl-5 pt-48">
		<h1 class="text-[35px]">Mas Cosas Sobre Mi</h1>
	</div>
	<article class="flex items-center justify-center pl-5">
		<h3 class="w-[600px] text-[18px]">
			Me gusta mucho la Natación, el Karting, Como ya te dije los Videojuegos y también me encanta
			montar bicicleta, Tengo una fabulosa familia la cual es muy grande y me acompaña en todo
			momento, Tengo una hermosa novia la cual me ama mucho, Me gusta explorar, en general me gustan
			muchas cosas, Pero lo que más me gusta es progresar como persona y mejorar
		</h3>
	</article>
</section>
<Picture />
