---
import Birtdate from './Birtdate.astro';
import Yo from '../../public/svg/Yo.astro';
---

<section id="sobreMi" class="text-white">
	<main class="flex items-center justify-center pb-[15px] text-[35px]">
		<h2>Quien soy yo?</h2>
	</main>
	<div class="flex items-center justify-center rounded-[10px]">
		<Yo />
	</div>
	<article class="flex items-center justify-center py-[20px]">
		<h3 class="w-[600px] text-[18px]">
			Hola, mi nombre es <span class="text-[#9b20b0ce]">Juan David Cutiva Lopez</span>, tengo actualmente <Birtdate /> años, Estoy estudiando
			de manera autodidacta aprendiendo poco a poco lo mejor de las tecnologías que me gustan y en las
			cuales me desenvuelvo, Me gusta mucho la música y los video juegos, Si quieres saber mas a profundidad
			de mi puedes mirar <a
				class="flex items-center justify-center duration-200 hover:scale-110 hover:text-[#ad25c5b9]"
				href="../AboutPlus/"
			>
				Dando Click.
			</a>
		</h3>
	</article>
</section>
