---
import Gmail from '../../public/svg/Gmail.astro';
---

<section>
	<div id="contacto" class="text-currentColor">Contacto</div>
	<article class="text-currentColor flex">
		<div class="pr-2"><Gmail color="#EEEEEE" /></div> juandavidcutiva.jdc@gmail.com
	</article>

	<div></div>
</section>
