---
import Gmail from '../../public/svg/Gmail.astro';
import Linkedin from './Linkedin.astro';
import GitHub from './Github.astro';
import Instagram from './Instagram.astro';
import X from './X.astro';
---

<section>
	<div class="flex items-center justify-center mt-[60px]">
		<Instagram />
		<GitHub />
		<Linkedin />
		<X />
	</div>
	<div id="contacto" class="flex justify-center mt-2 text-[30px] text-currentColor">Contacto</div>
	<article class="flex justify-center pb-8 text-currentColor">
		<div class="flex justify-center">
			<Gmail color="#EEEEEE" /><h3 class="flex justify-center ml-2">
				juandavidcutiva.jdc@gmail.com
			</h3>
		</div>
	</article>
</section>
