---
import Gmail from '../../public/svg/Gmail.astro';
import Linkedin from './Linkedin.astro';
import GitHub from './Github.astro';
import Instagram from './Instagram.astro';
import X from './X.astro';
---

<section>
	<div class="flex justify-center items-center pt-32">
		<Instagram/>
		<GitHub/>
		<Linkedin/>
		<X/>
	</div>
	<div id="contacto" class="flex justify-center text-currentColor pt-2 text-[30px]">Contacto</div>
	<article class="text-currentColor flex justify-center">
		<div class="flex justify-center"><Gmail color="#EEEEEE" /><h3 class="pl-2 flex justify-center">juandavidcutiva.jdc@gmail.com</h3></div>
	</article>

</section>
