---
import Gmail from '../../public/svg/Gmail.astro';
import Linkedin from './Linkedin.astro';
import GitHub from './Github.astro';
import Instagram from './Instagram.astro';
import X from './X.astro';
---

<section>
	<div id="contacto" class="text-currentColor">Contacto</div>
	<article class="text-currentColor flex">
		<div class="pr-2"><Gmail color="#EEEEEE" /></div> juandavidcutiva.jdc@gmail.com
	</article>

	<div class="flex justify-star items-center pl-[80px]">
        <Instagram/>
		<GitHub/>
		<Linkedin/>
		<X/>
    </div>
</section>
