<main class="text-white animate-fade-in">
	<h2 class="flex items-center justify-center text-[35px] pt-14">Soy un Programador Frond-End</h2>
	<h4 class="flex items-center justify-center text-[16px] pr-[240px] py-8">
		Actualmente estoy estudiando en <span class="text-[#93C33D]"><span class="text-[#94c33d00]">_</span>Platzi</span></h4>
	<div class="pl-[400px]">
		<h3 class="text-[18px] w-[600px]">
			Soy un Estudiante dedicado, el cual le gusta aprender nuevas tecnologías, Me gusta ser
			creativo y ponerme siempre nuevas metas, las cuales me ayuden a mejorar como persona y como
			programador, Me gusta encontrar que es lo mejor al momento de crear un nuevo proyecto.
		</h3>
	</div>
</main>
