---
import Platzi from '../../public/svg/Platzi.astro';
---

<main class="animate-fade-in text-white">
	<h2 class="flex items-center justify-center pt-14 text-[35px]">Soy un Programador Frond-End</h2>
	<h4 class="flex items-center justify-center py-8 pr-[240px] text-[16px]">
		Actualmente estoy estudiando en <span class="text-[#94c33d00]">_</span><a
			class="flex items-center justify-center text-[#93C33D] hover:scale-110 duration-200"
			target="_blank"
			rel="noopener noreferrer"
			href="https://platzi.com/p/JuanCutiva/">Platzi <Platzi /></a
		>.
	</h4>
	<div>
		<h3 class="items-star flex justify-center text-[18px]">
			Soy un Estudiante dedicado, el cual le gusta aprender nuevas <br /> tecnologías, Me gusta ser creativo
			y ponerme siempre nuevas <br /> metas, las cuales me ayuden a mejorar como persona y como <br
			/>
			programador, Me gusta encontrar que es lo mejor al momento <br /> de crear un nuevo proyecto.
		</h3>
	</div>
</main>
