---
import Stars from '../../public/svg/Stars.astro';
import Button from './Button.astro';
---

<div class="z-20 flex h-20 w-auto animate-fade-in justify-between bg-[#1A0B2E] p-5">
	<a href="/#inicio" class="flex items-center justify-between sm:ml-[315px]">
		<Stars class="size-[36px] duration-300 hover:scale-125 sm:size-[56px]" />
	</a>
	<section
		class="mx-4 flex flex-nowrap justify-end gap-[30px] text-[14px] text-currentColor sm:text-[16px]"
	>
		<Button href="/#proyectos" nombre="Proyectos" />
		<Button href="/#sobreMi" nombre="Sobre mi" />
		<Button href="/#contacto" nombre="Contacto" />
	</section>

	<style>
		a {
			font-family: 'Plus Jakarta Sans Variable', sans-serif;
		}
	</style>
</div>

<style>
	div {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999px;
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
	}
</style>
