---
import Git from "../../public/svg/Git.astro";
import Css from "../../public/svg/Css.astro";
import Figma from "../../public/svg/Figma.astro";
import Javascript from "../../public/svg/Javascript.astro";
import Html5 from "../../public/svg/Html5.astro";
import Tailwindcss from "../../public/svg/Tailwindcss.astro";
import Mame from "../../public/svg/Mame.astro";
import Github from "../../public/svg/Github.astro";
import Npm from "../../public/svg/Npm.astro";
import Vector from "../../public/svg/Vector.astro";
---

<div id="div10" class="w-auto h-14 text-white flex justify-center items-center text-[30px] bg-black"><h3>Tecnologías que manejo</h3></div>

<div id="parent" class="relative flex justify-center items-center">
	<div id="div1" class="w-auto h-auto flex justify-center items-center"><Git/> </div>
	<div id="div2" class="w-auto h-auto flex justify-center items-center"><Figma/> </div>
	<div id="div3" class="w-auto h-auto flex justify-center items-center"> <Javascript/> </div>
	<div id="div4" class="w-auto h-auto flex justify-center items-center"> <Html5/> </div>
	<div id="div5" class="w-auto h-auto flex justify-center items-center"> <Css/></div>  
	<div id="div6" class="w-auto h-auto flex justify-center items-center"> <Tailwindcss/></div>
	<div id="div7" class="w-auto h-auto flex justify-center items-center"> <Mame/></div>
	<div id="div8" class="w-auto h-auto flex justify-center items-center"> <Github/></div>
	<div id="div9" class="w-auto h-auto flex justify-center items-center"> <Npm/></div>
</div>
<div id="div11" class="pb-[600px] w-auto h-8 flex justify-center items-center"> <Vector/></div>

<style>		
	#parent {
		display: grid;
		grid-template-columns: repeat(11, 50px);
		grid-template-rows: repeat(8, 50px);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	#div1 {
		grid-area: 3 / 2 / 4 / 3;
	}
	#div2 {
		grid-area: 3 / 3 / 4 / 4;
	}
	#div3 {
		grid-area: 3 / 4 / 4 / 5;
	}
	#div4 {
		grid-area: 3 / 5 / 4 / 6;
	}
	#div5 {
		grid-area: 3 / 6 / 4 / 7;
	}
	#div6 {
		grid-area: 3 / 7 / 4 / 8;
	}
	#div7 {
		grid-area: 3 / 8 / 4 / 9;
	}
	#div8 {
		grid-area: 3 / 9 / 4 / 10;
	}
	#div9 {
		grid-area: 3 / 10 / 4 / 11;
	}
</style>
