---
import Ellipse from '../../public/svg/Ellipse.astro';
import Persona from '../../public/svg/hola.astro';
---

<body>
	<div class="w-226px h-8 pl-[296px] pt-[90px]">
		<Persona />
	</div>

	<div class="items-center justify-center pl-[577px] pt-[10px] text-[14px]">
		<h1 class="text-white">Hola! yo soy <span class="text-[#7127BA]">Juan Cutiva</span></h1>
	</div>

	<section class="pl-[557px] pt-10 text-white">
		<h3 class="text-[14px] underline decoration-1">Un Programador Que</h3>
		<div class="absolute pl-[370px] pt-[60px]"><Ellipse /></div>
		<h1 class="pl-[27px] text-[45px]">
			Quiere plazmar sus ideas <br />Mas alla de las <span class="text-[#7127BA]">Estrellas</span
			>...
		</h1>
		<h5 class="pl-[92px] text-[12px]">Si yo no allo mi limite, Quien lo ara?</h5>
	</section>
</body>

<style>
	body {
		font-family: 'Preahvihear';
	}
</style>
