---
import Arrow from '../../public/svg/Arrow.astro';
import Ellipse from '../../public/svg/Ellipse.astro';
import Persona from '../../public/svg/Person.astro';
---

<body id="inicio">
    <div class="absolute pt-[76px] pl-[450px] animate-fade-in">
        <Arrow />
    </div>
	<div id="Home" class="w-226px h-8 pl-[276px] pt-[90px] animate-fade-in">
		<Persona />
	</div>

	<div class="items-center justify-center pl-[557px] pt-[10px] text-[14px] animate-fade-in">
		<h1 class="text-white ">Hola! yo soy <span class="text-[#7127BA] ">Juan Cutiva</span></h1>
	</div>

	<section class="pl-[537px] pt-10 text-white animate-fade-in">
		<h3 class="text-[14px] underline decoration-1">Un Programador Que</h3>
		<div class="absolute pl-[335px] pt-[53px]"><Ellipse /></div>
		<h1 class="pl-[7px] text-[45px]">
			Quiere plasmar sus ideas <br />Más allá de las <span class="text-[#7127BA]">Estrellas</span
			>...
		</h1>
		<h5 class="pl-[72px] text-[12px]">¿Si yo no encuentro mi límite, Quién lo hará?</h5>
	</section>
</body>

<style>
	body {
		font-family: 'Preahvihear';
	}
</style>
