---
import Arrow from '../../public/svg/Arrow.astro';
import Ellipse from '../../public/svg/Ellipse.astro';
import Persona from '../../public/svg/Person.astro';
---

<body id="inicio">
	<div class="absolute animate-fade-in ml-[450px] mt-[76px]">
		<Arrow />
	</div>
	<div id="Home" class="w-226px h-8 animate-fade-in ml-[276px] mt-[90px]">
		<Persona />
	</div>

	<div class="animate-fade-in ml-[557px] mt-[10px] text-[14px]">
		<h1 class="text-currentColor">Hola! yo soy <span class="text-[#7127BA]">Juan Cutiva</span></h1>
	</div>

	<section class="animate-fade-in ml-[537px] mt-10 text-white">
		<h3 class="text-[14px] underline decoration-1">Un Programador Que</h3>
		<div class="absolute ml-[335px] mt-[53px]"><Ellipse /></div>
		<h1 class="ml-[7px] text-[45px]">
			Quiere plasmar sus ideas <br />Más allá de las <span class="text-[#7127BA]">Estrellas</span
			>...
		</h1>
		<h5 class="ml-[72px] text-[12px]">¿Si yo no encuentro mi límite, Quién lo hará?</h5>
		<div class="mt-4">
			<a
				download="JuanDavidCutivaCV.pdf"
				href="/JuanDavidCutivaCV.pdf"
				class="flex h-10 w-40 items-center justify-center rounded-xl border-2 border-[#ad25c5b9] bg-[#1a0b2e] duration-200 hover:scale-110"
				>Descarga mi CV</a
			>
		</div>
	</section>
</body>

<style>
	body {
		font-family: 'Preahvihear';
	}
</style>
